.result-container {
  width: 100%;
  height: 180px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result-content {
  width: 90%;
  border: 1px solid gray;
  background-color: #fff;
  height: 100px;
  overflow: auto;
}